<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LA TIENDITA DE GERKR</title>
        <link rel="stylesheet" href="../estilos/estilos.css">
    </head>
    <body>
        <Header>
            <ul>
            <li><a href="../index.html"> Inicio</a></li>
            <li class="deco"><a href="galeria.html"> Galeria</a></li>
            <li><a href="presupuesto2.html">Presupuesto</a></li>
            <li><a href="contacto.html"> Contacto</a></li>
            </ul>
        </Header>   
            <div class="total-imag" id="boxTotalImg">
                <img src="../fotos/logotiendita.jpg" id="totalImg" alt="">
                <span onclick="closeImag()">X</span>
            </div>
           <h1> <span> CARTERAS A SU DISPOSICIÓN</span></h1>
           <div class="imagen-gallery">
            <img src="../fotos/carterabeigenew.jpg" onclick=" openFulImg(this.src)" alt="foto de una cartera beige" height="398" width="271">
            <img src="../fotos/cartera-mostaza.jpg" onclick=" openFulImg(this.src)" alt="foto de una cartera mostaza" height="385" width="446">
            <img src="../fotos/cartera-N.jpg" onclick=" openFulImg(this.src)" alt="foto d euna cartera negra" height="447" width="250">
            <img src="../fotos/carteraRojaN.jpg" onclick=" openFulImg(this.src)" alt="foto de una cartera roja" height="369" width="197" >
            <img src="../fotos/cinturon-negra.jpg" onclick=" openFulImg(this.src)" alt="foto de un cinturon negro" height="497" width="227" >
            <img src="../fotos/cinturon-marron.jpeg" onclick=" openFulImg(this.src)" alt="foto de un cinturon marron" height="569" width="335" >
         </div>
           
       
        <footer>

        </footer>
        <script src="../js/galeria.js"></script>
</body>
</html>